@use '../util' as u;

html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: var(--f-body);
    line-height: 1.2;
    color: var(--black);
    padding: 8vh 0;

    @media screen and (width > u.em(1110)) {
        padding: 0;
        display: grid;
        place-items: center;
    }
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    transition: 150ms ease-in-out;
    transition-property: color, background-color;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}